<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3" style="color: white;">Product info</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="single-product" *ngIf="!loading">
  <div class="container">
    <div class="row">
      <div class="col-md-5 picture"
        style="background: url({{productItem.imageUrl}}); background-size: 300px 100px; background-repeat: no-repeat;">
      </div>

      <div class="col-md-7">

        <h2><a routerLink="/products">
            &lt; Terug naar shop</a>
        </h2>

        <div class="single-product-details mt-5 mt-lg-0">
          <h2>{{productItem.product_name}}</h2>
          <hr>

          <h3 class="product-price">€ {{productItem.price}}</h3>

          <p class="product-description my-4 ">
            {{productItem.description}}
          </p>
          <form class="cart" (ngSubmit)="addToCart()" [formGroup]="productPageForm">
            <div class="quantity d-flex align-items-center">
              <input type="number" class="input-text qty text form-control w-25 mr-3" step="1" min="1" max="100"
                value="1" name="quantity" title="Hoeveelheid" size="4" formControlName="quantity">
              <button type="submit" class="btn btn-main btn-small">Toevoegen aan winkelmandje</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <nav class="product-info-tabs wc-tabs mt-5 mb-5">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">Beschrijving</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false">Informatie allergieën</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p>{{productItem.description}}</p>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <p>{{productItem.allergies}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spinner">
  <mat-spinner *ngIf="loading == true"></mat-spinner>
</div>