<ngx-slick-carousel class="main-slider slider" [config]="slideConfig">
  <div ngxSlickItem class="slider-item">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Titel 1</span>
            <h1 class="mt-2 mb-5">Welkom op de website van De Warme Bakkers.</h1>
            <a class="nav-link" class="btn btn-main" routerLink="/products">Bestel hier jouw producten</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ngxSlickItem class="slider-item" style="background-image:url('assets/images/Brood.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Titel 2</span>
            <h1 class="mt-2 mb-5"><span class="text-color">Pasen</span> actie</h1>
            <a class="nav-link" class="btn btn-main" routerLink="/products">Bestel hier jouw producten</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>