<ngx-slick-carousel class="main-slider slider" [config]="slideConfig">
  <div ngxSlickItem class="slider-item">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Versie 1</span>
            <h1 class="mt-2 mb-5"><span class="text-color">15% korting </span>op alles.</h1>
            <a class="nav-link" class="btn btn-main" routerLink="/products">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ngxSlickItem class="slider-item" style="background-image:url('assets/images/slideshow1-31.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Sinterklaas actie</span>
            <h1 class="mt-2 mb-5"><span class="text-color">Sinterklaas</span> actie</h1>
            <a class="nav-link" class="btn btn-main" routerLink="/products">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>
<section class="category section pt-3 pb-0" style="margin-bottom: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/cat-1.jpg" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Koffiekoeken</p>
            <h4 class="mb-4">tot <strong>50% </strong>korting</h4>
            <a routerLink="/products" class="read-more">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/cat-2.jpg" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Toert</p>
            <h4 class="mb-4">tot <strong>40% </strong>korting</h4>
            <a routerLink="/products" class="read-more">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item">
          <img src="assets/images/cat-3.jpg" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Whatever</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>
            <a routerLink="/products" class="read-more">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->
<section class="features border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-ion-android-bicycle"></i>
          <div class="content">
            <h5>Free Shipping</h5>
            <p>On all order over $39.00</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-wallet"></i>
          <div class="content">
            <h5>30 Days Return</h5>
            <p>Money back Guarantee</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-key"></i>
          <div class="content">
            <h5>Secure Checkout</h5>
            <p>100% Protected by paypal</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-clock"></i>
          <div class="content">
            <h5>24/7 Support</h5>
            <p>All time customer support </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>